<h1>Achieveのお問い合わせが完了しました！</h1>

<h4>投稿者: <%= @contact.name %></h4>
<p>メールアドレス: <%= @contact.email %></p>
<p>内容: <%= @contact.content %></p>

<!-- <p>
  <%= link_to '投稿されたブログはこちら', blogs_url %>
</p> -->
